nav.navbar {
  width: 100%;
  padding: 1rem 5rem;
  z-index: 99;
  position: fixed;
  top: 0;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.navbar-scroll {
  background-color: rgb(18, 18, 18, 0.8);
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-nav a {
  padding: 0 1.5rem !important;
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  font-size: 18px;
  opacity: 0.75;
}

.navbar-nav a:hover, .navbar-nav a.navlink-active {
    opacity: 1;
}

.img-github {
  filter: invert(100%);
}

.navbar-social img {
  height: 1rem;
}

.navbar-social {
  display: inline-block;
  padding: 0 1.5rem;
  border-left: solid 1px #fff;
  border-right: solid 1px #ffff;
  height: 2.5rem;
}

.navbar-social a {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin: 0 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-social a::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.navbar-social a:hover::before {
  transform: scale(1);
}

.navbar-social a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-social a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.navbar-contact {
  padding: 0.75rem 1.25rem;
  margin: 0 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
}

.navbar-contact:hover {
  color: black;
  background-color: #fff;
}



@media (max-width: 992px) {
  nav.navbar {
    background-color: rgb(18, 18, 18, 0.8);
  }

  .navbar-collapse {
    padding: 2rem 0;
  }

  .navbar-nav a {
    padding: 1rem 0 !important;
  }

  .navbar-nav a:last-child {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  nav.navbar {
    padding: 1rem 1rem;
  }
}