.banner {
  height: 100vh;
  padding: 6rem 5rem;
  background-image: linear-gradient(
      0deg,
      rgba(64, 0, 116, 0.9752275910364145) 0%,
      rgba(255, 255, 255, 0) 50%
    ),
    url("../../assets/img/background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner-head {
  margin: auto auto auto auto;
  animation: banner-appear 1s ease-in-out forwards;
}

.banner-head h1 {
  font-size: 4rem;
  font-weight: 700;
  padding: 2rem;
}

.banner-head p {
  width: 60%;
  margin: auto;
  line-height: 1.6;
}

.banner-prof {
  height: 4rem;
}

.txt-rotate > .banner-prof {
  border-right: 0.08em solid #666;
}

@keyframes banner-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .banner-head p {
   width: 70%;
  } 
 }

 @media (max-width: 768px) {
  .banner-head h1 {
    padding: 4rem 0;
  } 
  .banner-head p {
    width: 80%;
   } 
 }

 @media (max-width: 480px) {
  .banner {
    padding: 4rem 1.5rem;
  }

  .banner-head h1 {
    font-size: 2.5rem;
  }

  .banner-head p {
    font-size: 0.75rem;
  }
}

@media screen and (max-height: 768px) {
  .banner {
    height: 768px;
  }
}
